<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>App Secure</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet"></link>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">GTI619</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/clients/residential">Residential</a></li>
            <li><a href="/clients/business">Business</a></li>
            <li><a href="/changePassword">Change Password</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                    <a class="dropdown-item" href="/admin/users">Users Management</a>
                    <a class="dropdown-item" href="/admin/param">Parameters</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li>
                <form action="/logout" method="post">
                    <button type="submit" class="btn btn-lg">
                        <span class="glyphicon glyphicon-log-in">Logout</span>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <div class="row">
        <h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h1>
        <h2 th:text="${type}+' Section'"></h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Creation Date</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="client : ${clients}">
                    <tr>
                        <td th:text="${client.name}"></td>
                        <td th:text="${client.description}"></td>
                        <td th:text="${client.creationDate}"></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>

        <hr/>

        <div class="row">
            <form class="col-xs-6" method="POST" action="/clients">
                <p>Name : <input name="name" class="form-control" type="text"/></p>
                <p>Description : <input name="description"  class="form-control" type="text"/></p>
                <p>Password : <input name="password"  class="form-control" type="password"/></p>
                <input name="type" th:value="${type}" type="hidden"/>
                <p><input class="btn btn-success" type="submit" value="Submit" /></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>